
body {
    background-color: lightblue;
    
}
h4 {
    color: Black;
    text-align: center;
    font-size: 18px;
}
p {
    font-family: verdana;
    font-size: 20px;
}
h5{
    color: blue;
    text-align: center;
}

td{
    text-align: center;
    font-size: 14px;
    
}
input{
    align-content: center;
    text-align: center;
    align-self: center;
}

form{
    text-align: center;
}

.box {
    float: left; 
    width: 200px;
    height: 100px;
    margin: auto;
    
}


table {
    background-color: white;
}

.InputForms{
    background-color: lightblue;
    
    
}
